body {
    margin: 0;
}
#nav {
    width: 100%;
    height: 200px;
    background-color: antiquewhite;
}
.flexbox {
    display: flex;
}
#left-bar {
    width: 300px;
    height: 900px;
    background-color: lightblue;
}
#content {
width: 100%;
height: 900px;
background-color: lightgreen;
}
#right-bar {
    width: 300px;
    height: 900px;
    background-color: royalblue;
}
#footer {
    width: 100%;
    height: 200px;
    background-color: black;
}